[submodule "3rd-party/RE-flex"]
	path = 3rd-party/RE-flex
	url = https://github.com/Genivia/RE-flex
[submodule "3rd-party/docopt.cpp"]
	path = 3rd-party/docopt.cpp
	url = https://github.com/docopt/docopt.cpp
[submodule "3rd-party/z3"]
	path = 3rd-party/z3
	url = https://github.com/Z3Prover/z3